.advert {
    margin-top: 117px;
}
.advert__container {
    max-width: 1380px;
    margin: 0 auto;
}
.container {
}
.advert__data {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.advert__info {
    max-width:685px ;
}
.info {
}
.advert__info-extra {
}
.info-extra {
}
.advert__link {
    margin-top: 20px;
}
.link{

}
@media(max-width: 600px){
    .advert__data{
        margin-top: 50px;
    }
}