.desc {

}
.desc__container {

}
.desc__block-img {
display: flex;
justify-content: center;
align-items: center;
margin-top: 117px;
}
.desc__data {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 115px;
}
.desc__info {
}
.desc__info-extra {
}
.desc__link{
    display: flex;
    justify-content:center;
    align-items: center;
    
}