.offers {
margin-top: 70px;
}
.offers .container {
border-top: 1px solid #E6E6E6;
border-bottom: 1px solid #E6E6E6 ;
padding: 100px 0 120px 0;
}
.offers__list {

}
.offers__item {
display: flex;
column-gap: 100px;
}
.offers__item:last-child{
    margin-top: 110px;
    padding-left: 230px;
}
.offers__item:first-child{
    padding-right: 230px;
}
.offers__text {
    font-family: var(--fontIBM);
font-weight: 400;
font-size: 13px;
line-height: 185%;
color: #999;
margin-top: 25px;

}
.offers__data {
margin-top: 110px;
display: flex;
flex-direction: column;
align-self: center;
}
.offers__data-text {
    font-family: var(--fontLF);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
.offers__link {
    margin-top: 12px;
}
.link {

}
@media(max-width:1150px){
    .offers__item:last-child{
        margin-top: 50px;
        padding-left: 0px;
    }
    .offers__item:first-child{
        padding-right: 0px;
    }
    .offers .container {
        padding: 80px 10px;
        }
}
@media(max-width:900px){
.offers__item{
    flex-direction: column;
}
.offers__data{
    margin-top: 70px;
}
}